<h1>Pessoas</h1>

<table class="table table-striped table-bordered table-hover">
    <tbody>
        <tr>
            <th>Data de Nascimento</th>
            <th>Nome</th>
            <th>Dependentes</th>
            <th class="text-center">
                <a [routerLink]="['cadastrar']" class="btn btn-xs btn-success">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo
                </a>
            </th>
        </tr>
        <tr *ngFor="let pessoa of pessoas">
            <td>
                {{pessoa.nascimento | data}}
            </td>
            <td>
                {{pessoa.nome}}
            </td>
            <td style="width: 70px" class="text-center">
                {{pessoa.dependentes}}
            </td>
            <td class="text-center" style="width: 200px">
                <a title="Editar" [routerLink]="['editar',pessoa.id]" alt="Editar" class="btn btn-xs btn-info">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
                </a>
                <a title="Remover" (click)="remover($event,pessoa)" alt="Remover" class="btn btn-xs btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remover
                </a>
            </td>
        </tr>
    </tbody>
</table>

<p *ngIf="pessoas.length == 0">Nenhuma tarefa cadastrada.</p>