<h1>Cadastrar pessoa</h1>

<div class="well">
    <form #formPessoa="ngForm">
        <div class="form-group">
            <label>pessoa:</label>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nome">Nome:</label>
                    <input type="text" [(ngModel)]="pessoa.nome" #nome="ngModel" class="form-control" name="nome" id="nome" minlength="5" placeholder="Nome">
                </div>
                <div class="form-group col-md-3">
                    <label for="dependentes">Dependentes:</label>
                    <input type="text" Numero [(ngModel)]="pessoa.dependentes" #dependentes="ngModel" class="form-control" maxlength="2" name="dependentes" id="dependentes" placeholder="dependentes">
                </div>
                <div class="form-group col-md-3">
                    <label for="nascimento">Data de Nascimento</label>
                    <input type="date" max="2019" [(ngModel)]="pessoa.nascimento" #nascimento="ngModel" class="form-control" name="nascimento" id="nascimento"
                        placeholder="Data de Nascimento">
                </div>
            </div>  
            <div class="alert alert-danger" *ngIf="nome.errors && (nome.dirty || nome.touched)">
                <div [hidden]="!nome.errors.minlength">
                    O nome deve conter ao menos 5 caracteres.
                </div>
            </div>
            <div class="alert alert-danger" *ngIf="dependentes.value == 0 && (dependentes.dirty || dependentes.touched)" >
                <div>
                    A quantidade de dependentes deve ser diferente de 0
                </div>
            </div>
            <div class="alert alert-danger" *ngIf="!nascimento.value && (nascimento.dirty || nascimento.touched)">
                <div>
                    Informe a data de nascimento
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <input (click)="cadastrar()" [disabled]="!formPessoa.form.valid || dependentes.value == 0 || !nascimento.value" type="submit" class="btn btn-success" value="Cadastrar">
            <a class="btn btn-default" [routerLink]="['']">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Voltar
            </a>
        </div>
    </form>
</div>